body{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    animation: dayNight 20s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.header{
    font-size: 3rem;
    color: white;
}
.moon{
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.sun{
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.moon:hover{
   
    background-color: blue;
    border-radius: 50%;
}
.sun:hover{
   
    background-color: red;
    border-radius: 50%;
}
.move-animation{
    animation: moveSunMoon 10s linear;
    animation-fill-mode: forwards;
    opacity:0;
}
.morning{
    animation: morning 10s ease-in-out;
}
.night{
    animation: night 10s ease-in-out;
}
.star{
    position: absolute;
    opacity: 0;
}
.star:nth-child(1){
    top: 20%;
    left: 30%;
}
.star:nth-child(2){
    top: 10%;
    left: 20%;
}
.star:nth-child(3){
    top: 20%;
    right: 30%;
}
.star:nth-child(4){
    top: 10%;
    left: 10%;
}
.star:nth-child(5){
    top: 20%;
    right: 55%;
}
.star:nth-child(6){
    top: 20%;
    right: 10%;
}
.star:nth-child(7){
    top: 10%;
    right: 25%;
}
.star:nth-child(8){
    top: 25%;
    left: 50%;
}
.star:nth-child(9){
    top: 15%;
    right: 40%;
}
.star:nth-child(10){
    top: 17%;
    right: 23%;
}
.hide{
    opacity: 0;

}
.show-header{
    opacity: 1;
}
.gm{
    animation: fadeInUp;
    animation-duration: 2s;
    transition: all 2s ease-in-out;
}
.show{
    animation: showStar 8s ease-in-out ;
}
.cloud{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.cloud:nth-child(3){
   animation: moveCloud-one 35s infinite;
   
}
.cloud:nth-child(4){
    animation: moveCloud-two 25s  infinite;
}
.cloud:nth-child(5){
    animation: moveCloud-three 30s linear infinite;
    animation-delay: 3s;
}
.cloud:nth-child(6){
    animation: moveCloud-four 25s linear infinite;
    animation-delay: 5s;
}
.cloud:nth-child(7){
    animation: moveCloud-four 35s linear infinite;
    animation-delay: 8s;
}
.cloud:nth-child(8){
    animation: moveCloud-four 35s linear infinite;
    animation-delay: 10s;
}
@keyframes dayNight {
    0% {
        background-color: #354a4a; 
    }
    20% {
        background-color: #e2b553; 
    }
    35% {
        background-color: #70c4c6; 
    }
    60% {
        background-color: #354a4a; 
    }
    75% {
        background-color: #2a3a5b; 
    }
    90% {
        background-color: #0f1a2a; 
    }
    100% {
        background-color: #0f1a2a; 
    }
}




@keyframes moveSunMoon{
    0%{
        transform: translate(-470%,100%);
        opacity: 1;
    }
    
    100%{
        transform: translate(530%,-140%);
       opacity: 1;
    }
}


@keyframes moveCloud-one{
    from{
        opacity: 1;
        transform: translate(-150%,30%);
    }
    to{
        opacity: 1;
        transform: translate(1300%,30%);
    }
}
@keyframes moveCloud-two{
    from{
        opacity: 1;
        transform: translate(-150%,70%);
    }
    to{
        opacity: 1;
        transform: translate(1300%,70%);
    }
}
@keyframes moveCloud-three{
    from{
        opacity: 1;
        transform: translate(-150%,-10%);
    }
    to{
        opacity: 1;
        transform: translate(1300%,-10%);
    }
}
@keyframes moveCloud-four{
    from{
        opacity: 1;
        transform: translate(-150%,85%);
    }
    to{
        opacity: 1;
        transform: translate(1300%,85%);
    }
}

@keyframes showStar{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}